html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

:root {
   --primary-text-color:#212121;
   --main-background-color:#FFFFFF;
   --accent-color:#2196F3;
}

body {
   margin: 0;
   font-family: Roboto, sans-serif;

   font-size: 14px;
   letter-spacing: 0.03em;
   color: #757575;

}

/* Ulilities */

.list {
   margin: 0;
   padding: 0;
   list-style: none;
}

h1,
h2,
h3,
p {
   margin-top: 0;
   margin-bottom: 0;
}

/* Header */

 /* Container Header */

 .container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    outline: 2px solid tomato;

 }

/* Main nav */

.main-nav {
   display: flex;
   align-items: center;
}

/* Logo */

.logo {

   font-family: Raleway, bold;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   color: #000000;
   text-decoration: none;

}

.logo-item {
   color: var(--accent-color);
   
}

.logo-down {
   color:#FFFFFF;
}

/* Site nav */

.site-nav {
   display: flex;
   margin-left: 93px;
}

.site-nav .item + .item {
   margin-left: 50px;
}

/* .site-nav .snitem:not(last-child) {
   margin-right: 50px;
} */

.site-nav.list {
   
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--primary-text-color);

}

.site-nav .link {
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;

   text-decoration: none;
   color: currentColor;

}


.site-nav .link:hover,
.site-nav .link:focus {
   color: var(--accent-color);
}

.site-nav .link.current {
   color: var(--accent-color);
}

/* Contacts */

.contacts.list {
   display: flex;
   margin-left: auto;
}

.contacts.list .item + .item {
   margin-left: 50px;
}

.contacts .contact {
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;


   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: #757575;
   text-decoration: none;

}

 .contacts .contact:hover,
 .contacts .contact:focus {
    color: var(--accent-color);
 }

 /* Body index */

/* Hero */

.hero-title {

   margin-bottom: 30px;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;

   letter-spacing: 0.06em;
   color: #FFFFFF;
   background: #2F303A;
   text-align: center;
   text-transform: uppercase;
}

.button {
   min-width: 200px;
   padding: 10px 32px;

   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   text-align: center;

   color: #FFFFFF;
   background-color: var(--accent-color);
   border-color: transparent;
   
}

.hero {
   text-align: center;
   background-color: #2F303A; 
   
}

/* Section Utilites */

.section {
   display: flex;
   padding-top: 94px;
   padding-bottom: 94px;
  
}

.section-title {
   margin-bottom: 50px;
   font-size: 36px;
   line-height: 1.17;
   color: var(--primary-text-color);
   text-align: center;
}

.section-title.centered {

   text-align: center;
}

/* Section features */

.features.section {
   padding-bottom: 0;
}

.features.list {
   display: flex;
 }

.feature.list .item {
   width: 270px;
}

.features.list .item + .item {
   margin-left: 30px;
}

.feature-title {

   margin-bottom: 10px;
   font-size: 14px;
   line-height: 1.14;
   color: var(--primary-text-color);

   text-transform: uppercase;
}

.feature-description {
   line-height: 1.71;

}

/* Section What we do */

.wedo.list{
   display: flex;
}

.wedo.list .item +.item {
margin-left: 30px;
}

/* Section Our team */

.section.team {
   background-color: #F5F4FA;
}

.team.list {
   display: flex;
}

.team.list .item + .item {
   margin-left: 30px;
}

.team.list .card {
   padding-bottom: 30px;
   text-align: center;
   background-color: #ffffff;
}

.card .foto {
   margin-bottom: 30px;
}

.teammate-name {
   margin-bottom: 10px;

   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   color: var(--primary-text-color);
}

.position {
   font-size: 16px;
   line-height: 1.19;
}

/* Portfolio */

.filters .filter {
  
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  background-color: #F5F4FA;
}

.filters .filter:hover,
.filters .filter:focus {
   color: #FFFFFF;
   background-color: var(--accent-color);
}

.filters .active:active {
   background-color: var(--accent-color);
}

.button,
.filter {
   cursor: pointer;
}

.work-title {
   
   font-size: 18px;
   line-height: 2;
   color: var(--primary-text-color);
   letter-spacing: 0.06em;
}

.work-type {
   font-size: 16px;
   line-height: 1.88;
}

/* Footer */

.footer {
   padding-top: 60px;
   line-height: 1.71;
   background: #2F303A;
  
}

.logo.secondary {
  margin-bottom: 10px;
   
}

.address {
   
   font-style: normal; 
   color: #FFFFFF;
}

.contact-down {
   
   font-style: normal;
   color: rgba(255, 255, 255, 0.6);
   text-decoration: none;
}

.contacts .contact-down:hover,
.contacts .contact-down:focus {
   color: var(--accent-color);
}